th.mat-header-cell, td.mat-cell {
  padding-left: 8px;
}


.th , .mat-header-cell{
  background-color: black;
  font-weight: bolder;
  font-size: 15.5px;
  color: #ffff;

  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  padding: 4px;
  height: 30px;
  text-align: center;
  padding-left: 20px;
}

.td, .mat-cell{
  background-color: '#434244';
}

.add-list-gap{
  margin-bottom: 8px;
}

.form-text{
  font-family: 'Rubik';
  font-size: 12px;
}

.table{
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-collapse: separate;
  position: relative;
  border-spacing: 0;
  font-size:35px;
  font-weight: bold;
  margin-bottom : 0 !important;
}

.table-header {
  background-color: var(--blue-60);
  font-weight: bolder;
  font-size: 15.5px;
  color: #ffff;

  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  padding: 4px;
  height: 30px;
  text-align: left;
  padding-left: 8px;
}

.title2 {
  text-align: left;
}
